@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(100vh) translateX(100vw);
    rotate: 180deg;
  }
  100% {
    transform: translateY(0) translateX(0);
    filter: brightness(1);
  }
}

/* Default styles for desktop */
.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}
